* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(19, 77, 75);
  color: white;
  background-image: url(./assets/bg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.main_wrapper {
  padding: 0.5em;
  margin: 0 auto;
  height: 100%;
  min-height: calc(100vh - 140px);
  width: 90%;
}
.filter {
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.box {
  padding: 15px;
  background-color: rgb(24, 61, 66, 0.7);
  margin-right: 2.5em;
  width: 33.33333333%;
  border-radius: 0.5em;
}
.box:last-child {
  margin-right: 0;
}
.filter-title {
  height: 50px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.shape,
.color,
.size {
  display: flex;
  align-items: center;
}
.shape button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
.shape button:nth-child(1) {
  background-image: url(./assets/svg/ball.svg);
  margin-left: 15px;
}
.shape button:nth-child(2) {
  background-image: url(./assets/svg/bell.svg);
  margin-left: 15px;
}
.shape button:nth-child(3) {
  background-image: url(./assets/svg/cone.svg);
  margin-left: 15px;
}
.shape button:nth-child(4) {
  background-image: url(./assets/svg/snowflake.svg);
  margin-left: 15px;
}
.shape button:nth-child(5) {
  background-image: url(./assets/svg/toy.svg);
  margin-left: 15px;
}
.color button {
  width: 30px;
  height: 30px;
  border: 1px solid #278d9f;
  border-radius: 5px;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
.color button:nth-child(1) {
  background-color: white;
  margin-left: 15px;
}
.color button:nth-child(2) {
  background-color: yellow;
  margin-left: 15px;
}
.color button:nth-child(3) {
  background-color: red;
  margin-left: 15px;
}
.color button:nth-child(4) {
  background-color: blue;
  margin-left: 15px;
}
.color button:nth-child(5) {
  background-color: green;
  margin-left: 15px;
}
.size button {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url(./assets/svg/ball.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  outline: none;
  border: none;
}
.size button:nth-child(2) {
  background-size: 38px 38px;
}
.size button:nth-child(3) {
  background-size: 32px 32px;
}
.favorite {
  height: 50px;
  display: flex;
  align-items: center;
}
.input-favorite {
  display: none;
}
.label-favorite {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid #278d9f;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}
.input-favorite:checked + .label-favorite {
  background-color: #278d7a;
  border-color: #278d9f;
}
.input-favorite:checked + .label-favorite::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.sort-select {
  appearance: none;
  outline: 0;
  width: 350px;
  height: 40px;
  padding: 10px;
  background-color: #278d7a;
  background-image: url(./assets/svg/arrow-down.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 320px center;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  border: 2px solid #278d9f;
}
.reset {
  width: 250px;
  height: 35px;
  margin-top: 130px;
  border-radius: 15px;
  background-color: #278d7a;
  border: 2px solid #278d9f;
  color: white;
  cursor: pointer;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  height: auto;
  margin-top: 1.5em;
}
.toys {
  position: relative;
  background-color: rgb(24, 61, 66, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 304px;
  height: 280px;
  border-radius: 0.5em;
  border: 1px solid #278d9f;
  padding-left: 10px;
  cursor: pointer;
}
.toys-title {
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0.8em 0;
}
.toys-img {
  width: 90px;
  height: 115px;
  object-fit: contain;
}
.toys-description {
  width: 195px;
  margin-top: -20px;
  padding-left: 10px;
  line-height: 1;
}
.count,
.year,
.shape,
.color,
.size,
.favorite {
  font-size: 18px;
  margin: 0.6em 0;
}
.tape {
  position: absolute;
  top: 210px;
  width: 80px;
  height: 40px;
  background: #24c5db;
  left: -8px;
}
.tape::before {
  border-bottom: 8px solid #14455b;
  border-left: 8px solid transparent;
  top: -8px;
}
.tape::after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #24c5db;
  right: -15px;
}
.tape::before,
.tape::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
}
