* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(19, 77, 75);
  color: white;
  background-image: url(./assets/bg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.main_wrapper {
  padding: 0.5em;
  margin: 0 auto;
  height: 100%;
  min-height: calc(100vh - 140px);
  width: 90%;
}
.filter {
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.box {
  background-color: rgb(24, 61, 66, 0.7);
  margin-right: 2.5em;
  width: 33.33333333%;
  border-radius: 0.5em;
}
.box:last-child {
  margin-right: 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  height: auto;
  margin-top: 1.5em;
}
.toys {
  position: relative;
  background-color: rgb(24, 61, 66, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 304px;
  height: 280px;
  border-radius: 0.5em;
  border: 1px solid #278d9f;
  padding-left: 10px;
  cursor: pointer;
}
.toys-title {
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0.8em 0;
}
.toys-img {
  width: 90px;
  height: 115px;
  object-fit: contain;
}
.toys-description {
  width: 195px;
  margin-top: -20px;
  padding-left: 10px;
  line-height: 1;
}
.count,
.year,
.shape,
.color,
.size,
.favorite {
  font-size: 18px;
  margin: 0.5em 0;
}
.tape {
  position: absolute;
  top: 210px;
  width: 80px;
  height: 40px;
  background: #24c5db;
  left: -8px;
}
.tape::before {
  border-bottom: 8px solid #14455b;
  border-left: 8px solid transparent;
  top: -8px;
}
.tape::after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #24c5db;
  right: -15px;
}
.tape::before,
.tape::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
}

