@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Mountains+of+Christmas:wght@700&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(19, 77, 75);
  color: white;
  background-image: url(./assets/bg.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.links-active {
  border-bottom: 2px solid cyan;
}
.main_wrapper {
  padding: 0.5em;
  margin: 0 auto;
  height: 100%;
  min-height: calc(100vh - 140px);
  width: 90%;
}
.filter {
  display: flex;
  justify-content: space-between;
  height: 300px;
}
.box {
  padding: 15px;
  background-color: rgb(24, 61, 66, 0.7);
  margin-right: 2.5em;
  width: calc(33.33333333% - 2em);
  border-radius: 0.5em;
}
.box:last-child {
  margin-right: 0;
}
.filter-title {
  height: 50px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.shape-container,
.color-container,
.size-container {
  display: flex;
  align-items: center;
  margin: 0.8em 0;
}
.shape-container button {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  position: relative;
}
.shape-container button:nth-child(1) {
  background-image: url(./assets/svg/ball.svg);
  margin-left: 15px;
}
.shape-container button:nth-child(2) {
  background-image: url(./assets/svg/bell.svg);
  margin-left: 15px;
}
.shape-container button:nth-child(3) {
  background-image: url(./assets/svg/cone.svg);
  margin-left: 15px;
}
.shape-container button:nth-child(4) {
  background-image: url(./assets/svg/snowflake.svg);
  margin-left: 15px;
}
.shape-container button:nth-child(5) {
  background-image: url(./assets/svg/toy.svg);
  margin-left: 15px;
}
.shape-container button.active {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg)
    brightness(83%) contrast(88%);
}
.color-container button {
  width: 30px;
  height: 30px;
  border: 1px solid #278d9f;
  border-radius: 5px;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
.color-container button:nth-child(1) {
  background-color: white;
  margin-left: 15px;
}
.color-container button:nth-child(2) {
  background-color: yellow;
  margin-left: 15px;
}
.color-container button:nth-child(3) {
  background-color: red;
  margin-left: 15px;
}
.color-container button:nth-child(4) {
  background-color: blue;
  margin-left: 15px;
}
.color-container button:nth-child(5) {
  background-color: green;
  margin-left: 15px;
}
.color-container button.active::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.color-container button.active:nth-child(1)::after {
  border-color: #666;
}
.size-container button {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  background-image: url(./assets/svg/ball.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
}
.size-container button:active,
.color-container button:active,
.shape-container button:active {
  bottom: 1px;
}
.size-container button:nth-child(2) {
  background-size: 38px 38px;
}
.size-container button:nth-child(3) {
  background-size: 32px 32px;
}
.size-container button.active {
  filter: invert(9%) sepia(63%) saturate(461%) hue-rotate(322deg)
    brightness(83%) contrast(88%);
}
.favorite {
  height: 50px;
  display: flex;
  align-items: center;
}
.input-favorite {
  display: none;
}
.label-favorite {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid #278d9f;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}
.input-favorite:checked + .label-favorite {
  background-color: #278d7a;
  border-color: #278d9f;
}
.input-favorite:checked + .label-favorite::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.container-for-filters {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0.4em 0;
}
.sort-select {
  appearance: none;
  outline: 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #278d7a;
  background-image: url(./assets/svg/arrow-down.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  border: 2px solid #278d9f;
  cursor: pointer;
}
.reset {
  width: 250px;
  height: 35px;
  margin-top: 130px;
  border-radius: 15px;
  background-color: #278d7a;
  border: 2px solid #278d9f;
  color: white;
  cursor: pointer;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  width: 100%;
  height: auto;
  margin-top: 1.5em;
}
.toys {
  position: relative;
  background-color: rgb(24, 61, 66, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 304px;
  height: 280px;
  border-radius: 0.5em;
  border: 1px solid #278d9f;
  padding-left: 10px;
  cursor: pointer;
}
.toys.active .tape {
  background: #cbb77a;
}
.toys.active .tape::after {
  border-left: 15px solid #cbb77a;
}
.toys-title {
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0.8em 0;
}
.toys-img {
  width: 90px;
  height: 115px;
  object-fit: contain;
}
.toys-description {
  width: 195px;
  margin-top: -20px;
  padding-left: 10px;
  line-height: 1;
}
.count,
.year,
.shape,
.color,
.size,
.favorite {
  font-size: 18px;
  margin: 0.6em 0;
}
.tape {
  position: absolute;
  top: 210px;
  width: 80px;
  height: 40px;
  background: #24c5db;
  left: -8px;
}
.tape::before {
  border-bottom: 8px solid #14455b;
  border-left: 8px solid transparent;
  top: -8px;
}
.tape::after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #24c5db;
  right: -15px;
}
.tape::before,
.tape::after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
}

.no-toys {
  margin: 0 auto;
  padding: 15px;
  width: 500px;
  height: 184px;
  text-align: center;
  font-size: 36px;
  line-height: 2;
  border-radius: 25px;
  background-color: rgb(24, 61, 66, 0.7);
}

.main-page {
  min-width: 100%;
  min-height: calc(100vh - 180px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-page-ball {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -140px;
}
.ball1 {
  width: 300px;
  height: 325px;
  top: 150px;
  left: 15%;
  background-image: url(./assets/ball/1.webp);
}
.ball1::before {
  content: "";
  position: absolute;
  background-color: #aaa;
  top: -213px;
  left: calc(50% - 20px);
  width: 4px;
  height: 220px;
}
.ball2 {
  top: 100px;
  left: 70%;
  width: 200px;
  height: 250px;
  background-image: url(./assets/ball/2.webp);
}
.ball2::before {
  content: "";
  position: absolute;
  background-color: #aaa;
  width: 4px;
  height: 200px;
  top: -195px;
  left: calc(50% - 1px);
}
.main-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 500px;
  height: 250px;
  border: 3px solid #278d9f;
  border-radius: 15px;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  text-align: center;
  font-size: 46px;
  font-family: "Pacifico", cursive;
  font-weight: bold;
  flex-wrap: wrap;
}
.btn-main-page {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
  width: 320px;
  height: 60px;
  border: 3px solid #278d9f;
  background-color: rgba(31, 112, 127, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  font-size: 26px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  transition: 0.5s;
  box-shadow: 0 0 40px 40px #1f707f4d inset, 0 0 0 0 #1f707f4d;
}
.btn-main-page:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.wrapper-game-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0.5em;
  margin: 20px auto 0 auto;
  height: 100%;
  min-height: calc(100vh - 140px);
  width: 90%;
  gap: 0.6rem;
}

.menu-choose {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  width: 400px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 20px;
  z-index: 2;
}

.tree-choose-container::before {
  content: "Выберите ёлку";
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  padding-left: 0;
  text-transform: uppercase;
}

.audio-item {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: none;
  margin-right: 15px;
  background-image: url(./assets/svg/audio.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.snow-item {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: none;
  background-image: url(./assets/svg/snow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tree-item {
  width: 115px;
  height: 115px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: auto 110px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tree-item:nth-child(1) {
  background-image: url(./assets/tree/1.webp);
}
.tree-item:nth-child(2) {
  background-image: url(./assets/tree/2.webp);
}
.tree-item:nth-child(3) {
  background-image: url(./assets/tree/3.webp);
}
.tree-item:nth-child(4) {
  background-image: url(./assets/tree/4.webp);
}
.tree-item:nth-child(5) {
  background-image: url(./assets/tree/5.webp);
}
.tree-item:nth-child(6) {
  background-image: url(./assets/tree/6.webp);
}

.bg-container::before {
  content: "Выберите фон";
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  padding-left: 0;
  text-transform: uppercase;
}

.bg-item {
  width: 65px;
  height: 65px;
  border: 1px solid #cccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.bg-item:nth-child(1) {
  background-image: url(./assets/bg/1.webp);
}
.bg-item:nth-child(2) {
  background-image: url(./assets/bg/2.webp);
}
.bg-item:nth-child(3) {
  background-image: url(./assets/bg/3.webp);
}
.bg-item:nth-child(4) {
  background-image: url(./assets/bg/4.webp);
}
.bg-item:nth-child(5) {
  background-image: url(./assets/bg/5.webp);
}
.bg-item:nth-child(6) {
  background-image: url(./assets/bg/6.webp);
}
.bg-item:nth-child(7) {
  background-image: url(./assets/bg/7.webp);
}
.bg-item:nth-child(8) {
  background-image: url(./assets/bg/8.webp);
}
.bg-item:nth-child(9) {
  background-image: url(./assets/bg/9.webp);
}
.bg-item:nth-child(10) {
  background-image: url(./assets/bg/10.webp);
}

.garland-container::before {
  content: "Гирлянда";
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  padding-left: 0;
  text-transform: uppercase;
}

.garland-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding: 10px;
}

.garland-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-active {
  animation: blink 2s infinite;
}

.multicolor {
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8
  );
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
    #ccc 0 2px 12px;
}

.red {
  background-color: #f00;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
    rgb(255 0 0 / 50%) 0 2px 12px;
}

.green {
  background-color: #abff00;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #89ff00 0 2px 12px;
}

.blue {
  background-color: #24e0ff;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #006 0 -1px 9px,
    #3f8cff 0 2px 14px;
}

.yellow {
  background-color: #ff0;
  box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #808002 0 -1px 9px,
    #ff0 0 2px 12px;
}

label {
  margin: 0.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="checkbox"] + label::before,
input[type="checkbox"] + label::after {
  transition: all 0.2s;
}

input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 30px;
  border-radius: 25px;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  display: block;
  content: attr(data-off);
  position: absolute;
  top: 8px;
  right: 10px;
  color: #fff;
  font-size: 14px;
}

input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -11px;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
}

input[type="checkbox"]:checked + label::before {
  content: attr(data-on);
  left: 15px;
  right: auto;
  color: #fff;
}

input[type="checkbox"]:checked + label::after {
  left: 44px;
  background-color: #f7f7f7;
}

#input-switch + label {
  background-color: #ccc;
}

#input-switch + label::before {
  color: #999;
}

#input-switch:checked + label {
  background-color: #3498db;
}

#input-switch:checked + label::before {
  color: #fff;
}

.tree-container {
  background-image: url(./assets/bg/1.webp);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 140px);
  min-height: 750px;
  width: 800px;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.menu-favorites {
  height: calc(100vh - 140px);
  min-height: 750px;
  width: 400px;
  z-index: 2;
}

.tree-img {
  width: auto;
  height: 800px;
}

#canvas {
  width: 100%;
  position: absolute;
  z-index: 1;
}

#garland {
  position: absolute;
  top: 85px;
  left: 0;
  background-image: url("http://imapo.ru/img/christmas.png");
  height: 36px;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}

#nums_1 {
  padding: 100px;
}

.garland_1 {
  background-position: 0 0;
}

.garland_2 {
  background-position: 0 -36px;
}

.garland_3 {
  background-position: 0 -72px;
}

.garland_4 {
  background-position: 0 -108px;
}

.favorite-toys-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 0 1.2rem 1rem;
}

.favorite-toys-container::before {
  content: "Игрушки";
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.favorite-toys {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 5rem;
  height: 5.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1.1rem;
}

.favorite-count {
  position: absolute;
  text-align: center;
  line-height: 1.5;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 0.3rem;
  right: 0.4rem;
  background-color: red;
  border-radius: 50%;
  font-weight: bold;
}

.favorite-img {
  width: 100%;
}

.decorate-trees {
  display: flex;
  gap: 10px;
  margin: 0 0 0 1rem;
}

.decorate-trees::before {
  content: "Вы нарядили";
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.light-rope, .light-rope-red, .light-rope-green {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 20rem;
  left: 2rem;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.light-rope2, .light-rope-red2, .light-rope-green2 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 25rem;
  left: 2rem;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.light-rope3, .light-rope-red3, .light-rope-green3 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 30rem;
  left: 2rem;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.light-rope4, .light-rope-red4, .light-rope-green4 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 35rem;
  left: 2rem;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.light-rope5, .light-rope-red5, .light-rope-green5 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 40rem;
  left: 2rem;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.light-rope6, .light-rope-red6, .light-rope-green6 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 47rem;
  left: 2rem;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.light-rope7, .light-rope-red7, .light-rope-green7 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 52rem;
  left: 2rem;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.light-rope li,
.light-rope-green li,
.light-rope2 li,
.light-rope-green2 li,
.light-rope3 li,
.light-rope-green3 li,
.light-rope4 li,
.light-rope-green4 li,
.light-rope5 li,
.light-rope-green5 li,
.light-rope6 li,
.light-rope-green6 li, 
.light-rope7 li,
.light-rope-green7 li {
  position: relative;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: rgba(0, 247, 165, 1);
  box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
  animation-name: flash-1;
  animation-duration: 2s;
}

.light-rope-red li,
.light-rope-red2 li,
.light-rope-red3 li,
.light-rope-red4 li,
.light-rope-red5 li,
.light-rope-red6 li,
.light-rope-red7 li {
  position: relative;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: rgb(247, 0, 12);
  box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 12);
  animation-name: flash-4;
  animation-duration: 2s;
}

.light-rope li:nth-child(2n + 1),
.light-rope-green li:nth-child(2n + 1),
.light-rope2 li:nth-child(2n + 1),
.light-rope-green2 li:nth-child(2n + 1),
.light-rope3 li:nth-child(2n + 1),
.light-rope-green3 li:nth-child(2n + 1),
.light-rope4 li:nth-child(2n + 1), 
.light-rope-green4 li:nth-child(2n + 1),
.light-rope5 li:nth-child(2n + 1), 
.light-rope-green5 li:nth-child(2n + 1),
.light-rope6 li:nth-child(2n + 1),
.light-rope-green6 li:nth-child(2n + 1),
.light-rope7 li:nth-child(2n + 1),
.light-rope-green7 li:nth-child(2n + 1) {
  background: rgba(0, 255, 255, 1);
  box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
  animation-name: flash-2;
  animation-duration: 0.4s;
}

.light-rope li:nth-child(4n + 2),
.light-rope2 li:nth-child(4n + 2),
.light-rope3 li:nth-child(4n + 2),
.light-rope4 li:nth-child(4n + 2), 
.light-rope5 li:nth-child(4n + 2), 
.light-rope6 li:nth-child(4n + 2),
.light-rope7 li:nth-child(4n + 2) {
  background: rgba(247, 0, 148, 1);
  box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
  animation-name: flash-3;
  animation-duration: 1.1s;
}

.light-rope li:nth-child(odd),
.light-rope-red li:nth-child(odd),
.light-rope-green li:nth-child(odd),
.light-rope2 li:nth-child(odd), 
.light-rope-red2 li:nth-child(odd),
.light-rope-green2 li:nth-child(odd),
.light-rope3 li:nth-child(odd), 
.light-rope-red3 li:nth-child(odd),
.light-rope-green3 li:nth-child(odd),
.light-rope4 li:nth-child(odd), 
.light-rope-red4 li:nth-child(odd),
.light-rope-green4 li:nth-child(odd),
.light-rope5 li:nth-child(odd), 
.light-rope-red5 li:nth-child(odd),
.light-rope-green5 li:nth-child(odd),
.light-rope6 li:nth-child(odd),
.light-rope-red6 li:nth-child(odd),
.light-rope-green6 li:nth-child(odd),
.light-rope7 li:nth-child(odd),
.light-rope-red7 li:nth-child(odd),
.light-rope-green7 li:nth-child(odd) {
  animation-duration: 1.8s;
}

.light-rope li:nth-child(3n + 1),
.light-rope-red li:nth-child(3n + 1),
.light-rope-green li:nth-child(3n + 1),
.light-rope2 li:nth-child(3n + 1),
.light-rope-red2 li:nth-child(3n + 1),
.light-rope-green2 li:nth-child(3n + 1),
.light-rope3 li:nth-child(3n + 1),
.light-rope-red3 li:nth-child(3n + 1),
.light-rope-green3 li:nth-child(3n + 1),
.light-rope4 li:nth-child(3n + 1),
.light-rope-red4 li:nth-child(3n + 1),
.light-rope-green4 li:nth-child(3n + 1),
.light-rope5 li:nth-child(3n + 1),
.light-rope-red5 li:nth-child(3n + 1),
.light-rope-green5 li:nth-child(3n + 1),
.light-rope6 li:nth-child(3n + 1),
.light-rope-red6 li:nth-child(3n + 1),
.light-rope-green6 li:nth-child(3n + 1),
.light-rope7 li:nth-child(3n + 1),
.light-rope-red7 li:nth-child(3n + 1),
.light-rope-green7 li:nth-child(3n + 1) {
  animation-duration: 1.4s;
}

.light-rope li:before,
.light-rope-red li::before,
.light-rope-green li::before,
.light-rope2 li:before,
.light-rope-red2 li::before,
.light-rope-green2 li::before,
.light-rope3 li:before,
.light-rope-red3 li::before,
.light-rope-green3 li::before,
.light-rope4 li:before,
.light-rope-red4 li::before,
.light-rope-green4 li::before,
.light-rope5 li:before,
.light-rope-red5 li::before,
.light-rope-green5 li::before,
.light-rope6 li:before,
.light-rope-red6 li::before,
.light-rope-green6 li::before,
.light-rope7 li:before,
.light-rope-red7 li::before,
.light-rope-green7 li::before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9.3333333333px;
  border-radius: 3px;
  top: -4.6666666667px;
  left: 1px;
}

.light-rope li:after,
.light-rope-red li::after,
.light-rope-green li::after,
.light-rope2 li:after,
.light-rope-red2 li::after,
.light-rope-green2 li::after,
.light-rope3 li:after,
.light-rope-red3 li::after,
.light-rope-green3 li::after,
.light-rope4 li:after,
.light-rope-red4 li::after,
.light-rope-green4 li::after,
.light-rope5 li:after,
.light-rope-red5 li::after,
.light-rope-green5 li::after,
.light-rope6 li:after,
.light-rope-red6 li::after,
.light-rope-green6 li::after,
.light-rope7 li:after,
.light-rope-red7 li::after,
.light-rope-green7 li::after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 18.6666666667px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}

.light-rope li:last-child:after,
.light-rope-red li:last-child:after,
.light-rope-green li:last-child:after,
.light-rope2 li:last-child:after,
.light-rope-red2 li:last-child:after,
.light-rope-green2 li:last-child:after,
.light-rope3 li:last-child:after,
.light-rope-red3 li:last-child:after,
.light-rope-green3 li:last-child:after,
.light-rope4 li:last-child:after,
.light-rope-red4 li:last-child:after,
.light-rope-green4 li:last-child:after,
.light-rope5 li:last-child:after,
.light-rope-red5 li:last-child:after,
.light-rope-green5 li:last-child:after,
.light-rope6 li:last-child:after,
.light-rope-red6 li:last-child:after,
.light-rope-green6 li:last-child:after,
.light-rope7 li:last-child:after,
.light-rope-red7 li:last-child:after,
.light-rope-green7 li:last-child:after {
  content: none;
}

.light-rope li:first-child,
.light-rope-red li:first-child,
.light-rope-green li:first-child,
.light-rope2 li:first-child,
.light-rope-red2 li:first-child,
.light-rope-green2 li:first-child,
.light-rope3 li:first-child,
.light-rope-red3 li:first-child,
.light-rope-green3 li:first-child,
.light-rope4 li:first-child,
.light-rope-red4 li:first-child,
.light-rope-green4 li:first-child,
.light-rope5 li:first-child,
.light-rope-red5 li:first-child,
.light-rope-green5 li:first-child,
.light-rope6 li:first-child,
.light-rope-red6 li:first-child,
.light-rope-green6 li:first-child,
.light-rope7 li:first-child,
.light-rope-red7 li:first-child,
.light-rope-green7 li:first-child {
  margin-left: -40px;
}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flash-1 {
  0%,
  100% {
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
  }
  50% {
    background: rgba(0, 247, 165, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
  }
}

@keyframes flash-2 {
  0%,
  100% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
  }
  50% {
    background: rgba(0, 255, 255, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
  }
}

@keyframes flash-3 {
  0%,
  100% {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
  }
  50% {
    background: rgba(247, 0, 148, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}
@keyframes flash-4 {
  0%,
  100% {
    background: rgba(247, 0, 12);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 12);
  }
  50% {
    background: rgba(247, 0, 12, 0.4);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 12, 0.2);
  }
}
